*{
    background-color: #FF3EA5;
    font-family: 'Times New Roman', Times, serif;
}



.result{
    color:#db1846;
    display:flex;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}
.play{
    display:flex;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 2px 12px rgba(58, 134, 255, 0.08);
    padding: 30px;
}

button {
    /* display: flex;
    justify-content: center; */
    border-radius: 15%;
    background-color: #3A86FF;
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    font-weight: bold;
    transition: background 0.2s;
}
button:hover {
    background-color: #8338EC;
}

input, select {
    /* display: flex;
    justify-content: center; */
    border: 2px solid #FFBE0B;
    padding: 8px;
    margin-bottom: 10px;
}
.game{
    display:flex;
    justify-content: center;
    gap: 125px;
}
h3 {
    color: #0862de; 
    display: bo; 
    display: flex;
    justify-content: center;
    justify-items: center;
}

